header{
    section{
         div#center{
            position: relative;
            top:150px;
            right: 200px; //para mexer a div do centro
            background-color: #F4ECE6;
            width: 399px;
            height: 500px;

            //textos dentro da div
            .nameText{
                font-size: 30px;
                font-family: "Cal Sans", sans-serif;
                font-weight: 500;
                font-style: normal;
                
                position: relative; // precisa pra posicionar o texto
                bottom: 35px;

                border-bottom: 2px solid #0050FF;
                padding-bottom: 20px ;
            }

            .carrerText{
                font-size: 17px;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 200;
                font-style: normal;
                position: relative;
                bottom: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
   
    .container-item-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        z-index: 9999;
            .foto-apresentar img{
                width: 200px;
                height: 200px;
                border-radius: 100%;
         }

         
    }
    
    .sociais{
        border-radius: 0 !important;
        background-color: #fff;
        padding:6px 132px;
        img{
            
            width: 25px;
            height: 25px;
            margin-left: 20px;
        }

        
    }
    
    .centralizar{
        
      display: flex;
      
      align-items: center;     
      min-height: 100vh;
    }
 
    
    
    
}
                


