header{
    section{
         div#center{
            background-color: #F4ECE6;
            width: 50vh;
            height: 50vh;
        }
    }
   
    .container-item-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        z-index: 9999;
            .foto-apresentar img{
                width: 200px;
                height: 200px;
                border-radius: 100%;
         }
    }
    
    .sociais{
        background-color: #fff;
        padding:6px 173px;
        img{
            
            width: 25px;
            height: 25px;
            margin-left: 20px;
        }
    }
    
    .centralizar{
        
      display: flex;
      
      align-items: center;     // centraliza vertical
      min-height: 100vh;
    }
 
}
                


