header{
    .mobileHeader{
        display: none;
    }
    section{
        div.container{
            display: flex;
            flex-direction: column;
            //para fazer a cor solida na parte esquerda da tela
            background: linear-gradient(
                90deg,
              #E6DACE 40%,
              #E6DACE 40%,
              #FFFFFF 30%,
              #FFFFFF 100%
);

            div.container-item{
                display: flex;
                flex-direction: row;
                
            }
        }
    }


}