@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Great+Vibes&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Great+Vibes&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=WindSong:wght@400;500&display=swap");
/* title  Cal Sans*/
/* subtitle  Cal Sans*/
header .centralizar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
}
header .centralizar #center {
  background: #f4ece6;
  width: 399px;
  min-height: 450px;
  padding: 20px;
}
header .centralizar #left {
  position: relative;
  bottom: 390px;
  left: 200px;
  width: 399px;
  min-height: 450px;
}
header .centralizar .sociais {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header .titleText {
  font-size: 100px;
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  position: relative;
  bottom: 10px;
  right: 80px;
}
header .subtitleText {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  bottom: 40px;
  right: 10px;
}
header .btn {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  bottom: 30px;
  left: 50px;
}
header .btn1 {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 30px;
}
header .btn1:hover {
  color: #fff;
  background-color: #0050FF;
}
header .btn2 {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 30px;
}
header .btn2:hover {
  color: #fff;
  background-color: #0050FF;
}
header .paragraphText {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
}
header .subParagraphText {
  position: relative;
  top: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}
.footer .comunicationText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.footer span.footerText {
  font-family: "Cal Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.footer span.tell {
  position: relative;
  left: 65px;
}
.footer span.footerInfo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  position: relative;
  top: 22px;
}
.footer span.footerMail {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  position: relative;
  top: 20px;
  right: 108px;
}
.footer span.footerImg a img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 25px;
  right: 108px;
}
.footer .forText {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.footer .mobileFooter {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav .mobileBar {
  display: none;
}
nav div.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #FFFFFF;
}
nav div.navbarFlex div.textsNav button.transparent {
  display: none;
}
nav div.navbarFlex div.textsNav a {
  margin: 15px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 8px;
  color: #000;
}
nav div.navbarFlex div.textsNav a:hover {
  color: #0050FF;
}
nav div.navbarFlex div#logotipo .subtitle {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-left: 8px;
}
nav div.navbarFlex div#logotipo span img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
nav div.navbarFlex div#logotipo .title {
  font-size: 25px;
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-right: 20px;
  margin-right: 8px;
  position: relative;
}
nav div.navbarFlex div#logotipo .title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  bottom: 0;
  width: 1px;
  height: 15px;
  background-color: #000;
  transform: rotate(20deg);
  transform-origin: center;
}
nav div.navbarFlex div#logotipo a {
  color: black;
}

header section div#right {
  background-color: #E6DACE;
  height: 910px;
  width: 750px;
}

header .mobileHeader {
  display: none;
}
header section div.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #E6DACE 40%, #E6DACE 40%, #FFFFFF 30%, #FFFFFF 100%);
}
header section div.container div.container-item {
  display: flex;
  flex-direction: row;
}

header section div#center {
  position: relative;
  top: 150px;
  right: 200px;
  background-color: #F4ECE6;
  width: 399px;
  height: 500px;
}
header section div#center .nameText {
  font-size: 30px;
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
  bottom: 35px;
  border-bottom: 2px solid #0050FF;
  padding-bottom: 20px;
}
header section div#center .carrerText {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  position: relative;
  bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
header .container-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  z-index: 9999;
}
header .container-item-center .foto-apresentar img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
header .sociais {
  border-radius: 0 !important;
  background-color: #fff;
  padding: 6px 132px;
}
header .sociais img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
header .centralizar {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 1150px) and (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
  .footer .comunicationText {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 20px;
  }
  .footer span.footerText {
    font-family: "Cal Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .footer span.tell {
    position: relative;
    left: 65px;
    top: 100px;
  }
  .footer span.mail {
    position: relative;
    top: 120px !important;
  }
  .footer span.footerInfo {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    top: 130px !important;
  }
  .footer .sociaisText {
    position: relative;
    top: 50px;
  }
  .footer span.footerMail {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    left: 0;
    top: 50px !important;
  }
  .footer span.footerImg a img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 0px;
  }
  .footer .forText {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 945px) {
  nav div.navbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #FFFFFF;
  }
  nav div.navbarFlex div.textsNav button.transparent {
    display: inline-flex;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
  }
  nav div.navbarFlex div.textsNav a {
    display: none;
    margin: 15px;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 8px;
    color: #000;
  }
  nav div.navbarFlex div.textsNav a:hover {
    color: #0050FF;
  }
  nav div.navbarFlex div#logotipo .subtitle {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    top: 30px;
    right: 200px;
  }
  nav div.navbarFlex div#logotipo span img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  nav div.navbarFlex div#logotipo .title {
    font-size: 25px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    left: 0px;
  }
}
@media (max-width: 414px) {
  nav .desktopBar {
    display: none;
  }
  nav .mobileBar {
    display: flex;
    flex-direction: row;
  }
  nav div.navbarFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  nav .title {
    font-size: 25px !important;
    font-family: "Cal Sans", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    padding-right: 20px !important;
    margin-right: 8px !important;
    position: relative !important;
  }
  nav .title::after {
    width: 0 !important;
  }
  nav .subtitle {
    font-size: 13px !important;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
    margin: 0px !important;
    position: relative;
    left: 0px;
    top: 2px !important;
  }
  header .desktopHeader {
    display: none;
  }
  header .mobileHeader {
    display: block;
  }
  header section div.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #E6DACE 80%, #FFFFFF 30%);
  }
  header div#center {
    position: relative;
    top: -50px !important;
    right: 10px !important;
    background-color: #F4ECE6;
    width: 299px !important;
    height: 400px !important;
    box-shadow: -15px -1px 10px rgba(0, 0, 0, 0.2);
  }
  header .sociais {
    border-radius: 0 !important;
    background-color: #fff;
    padding: 6px 82px;
    position: relative;
    right: 10px;
    bottom: 115px;
    box-shadow: -15px 5px 10px rgba(0, 0, 0, 0.2) !important;
  }
  header .sociais img {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    position: relative;
    right: 5px;
  }
  header .btn {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: relative;
    bottom: 20px !important;
    left: 0px;
  }
  header .texts-right .titleText {
    font-size: 40px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: relative;
    bottom: 120px;
    right: 125px;
  }
  header .texts-right .subtitleText {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    position: relative;
    bottom: 135px;
    right: 50px;
  }
  header .texts-right .paragraphText {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
    position: relative;
    bottom: 135px;
  }
  footer .desktopFooter {
    display: none;
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .tell {
    position: relative;
    top: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
