@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Great+Vibes&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cal+Sans&family=Great+Vibes&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=WindSong:wght@400;500&display=swap");
/* title  Cal Sans*/
/* subtitle  Cal Sans*/
header .centralizar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
}
header .centralizar #center {
  background: #f4ece6;
  width: 399px;
  min-height: 450px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header .centralizar #left {
  position: relative;
  bottom: 390px;
  left: 320px;
  width: 399px;
  min-height: 450px;
}
header .centralizar .sociais {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav div.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #FFFFFF;
}
nav div.navbarFlex div.textsNav a {
  margin: 15px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 8px;
  color: #000;
}
nav div.navbarFlex div.textsNav a:hover {
  color: #5E9CEA;
}
nav div.navbarFlex div#logotipo .subtitle {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-left: 8px;
}
nav div.navbarFlex div#logotipo span img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
nav div.navbarFlex div#logotipo .title {
  font-size: 25px;
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-right: 20px;
  margin-right: 8px;
  position: relative;
}
nav div.navbarFlex div#logotipo .title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  bottom: 0;
  width: 1px;
  height: 15px;
  background-color: #000;
  transform: rotate(20deg);
  transform-origin: center;
}
nav div.navbarFlex div#logotipo a {
  color: black;
}

header section div#right {
  background-color: #E6DACE;
  height: 910px;
  width: 750px;
}

header section div.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #E6DACE 50%, #FFFFFF 50%);
}
header section div.container div.container-item {
  display: flex;
  flex-direction: row;
}

header section div#center {
  position: relative;
  top: 150px;
  right: 60px;
  background-color: #F4ECE6;
  width: 399px;
  height: 450px;
}
header .container-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  z-index: 9999;
}
header .container-item-center .foto-apresentar img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
header .sociais {
  background-color: #fff;
  padding: 6px 132px;
}
header .sociais img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
header .centralizar {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
